.manage-item-container {
    display: grid;
}

.add-btn {
    background-color: rgb(43, 125, 53);
    width: 160px;
    padding: 5px 0;
    color: #fff;
    margin: 10px auto;
    border: 1px solid gray;
    border-radius: 5px;
}