.delete-icon {
    background-color: #35ac67;
    font-size: 30px;
    color: rgb(241, 7, 7);
    border-radius: 8px;
}

.update-icon {
    background-color: #35ac67;
    font-size: 30px;
    border-radius: 8px;
    padding: 3px;
}