.QandA-container {
    margin: 0 auto;
}

.q-and-a {
    background-color: aliceblue;
    align-content: center;
    justify-items: center;
    margin: 20px;
    padding: 20px;
}

.ans {
    border: 1px solid;
    width: 50%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;

}