* {
    margin: 0;
    padding: 0;
}

.footer-container {
    background-color: rgb(19, 21, 30);
    max-width: 100%;
    margin: auto;
    color: #fff;
    padding: 30px;
    margin-top: 50px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px
}

.footer-heading {
    font-size: 18px;
    color: rgb(212, 231, 248);
    margin-bottom: 20px;
}

.footer-container li {
    list-style: none;
    text-decoration: none;
    color: rgb(217, 205, 205);
}

.footer-container li span {
    font-size: 12px;
    font-weight: 500;
}

.copyright-text {
    /* margin-top: 30px; */
    /* padding: 20px; */
}

.footer_icons a {
    font-size: 30px;
    color: #fff;
    margin: 5px;
}

.footer_icons a:hover {
    color: #a8a4a2
}