.update-container {
    background-color: aliceblue;
}

.buttons {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 16px;
    margin: 10px;
    background-color: rgb(69, 166, 87);
    color: #fff;

}

.inventory-card {
    display: flex;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.img-container {
    max-width: 400px;
    height: 300px;
    border-radius: 8px;
}

img {
    border-radius: 8px;
}

.inventory-card .img-container img {
    max-width: 400px;
    height: 300px;
    border-radius: 8px;
}



@media only screen and (max-width:600px) {

    .inventory-card {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    /* .card-container {
        grid-template-columns: repeat(1, 1fr);
    } */
}

.inventory-card {}