.inventory-container {
    background-color: rgb(194, 197, 195);
    padding: 30px;
}

.inventory-section-title {
    margin-top: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


@media only screen and (max-width:600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media only screen and (min-width: 577px) and (max-width:997) { */
@media only screen and (max-width:997px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}